

body{
    font-family: sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    line-height: 1.5rem;
}

nav{
   display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

nav ul li a{
    padding: 20px;
}

nav ul li:not(:first-child){
    margin-left: 20px;
}

.active{
    color: #f00;
    background-color: black;
}